@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
 :root {
 --primary-color: #52489c;
 --secondary-color: #0144ff;
 --accent-color: #b3b4f3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Mooli", sans-serif;
 }

 body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}
a:link,
a:visited {
    color: var(--accent-color);
}

header{
    background-color: #52489c;
    padding: 10px;
}

a, h1, footer{
    color: white;

}

.hide {
    display: none;
}

button{
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px;
}

figure img{
    display: block;
	max-width: 100%;
    object-fit: cover;
    height: auto;
    margin: 1em auto;
    align-self: center;
}
.gallery{
    background-color:white;
}

figure{
    background-color: white;
    /* padding: 20px ; */
    align-self: center;
    box-shadow: 10px 10px 15px #333;
}

.viewer {
    display:grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
}

.viewer button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.3em;
    justify-self: end;
}

.viewer img{
    justify-self: center;
    max-width: 500px;
}
  

footer{
    background-color: #52489c;
    color: white;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .viewer {
        display:grid;
        grid-template-columns: 1fr;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
    }
    .viewer img{
        justify-self: center;
        max-width: 500px;
    }

}

@media screen and (min-width: 1000px) {
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-button{
        display: none;
    }
    .viewer {
        display:grid;
        grid-template-columns: 1fr;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
    }

    .viewer img{
        justify-self: center;
        max-width: 900px;
    }
}