@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");



body{
    font-family: Mooli, sans-serif;
}

header{
    background-color: #52489c;
    padding: 10px;
}

a, h1, footer{
    color: white;

}

button{
    background-color: transparent;
    border: none;
    padding: 10px;
}

img {
	max-width: 100%;
    object-fit: cover;
    height: 250px;
}
.gallery{
    background-color:white;
}

figure{
    background-color: white;
    padding: 20px ;
}

footer{
    background-color: #52489c;
    color: white;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 700px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}

@media screen and (min-width: 1000px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    button{
        display: none;
    }
}