
.content{
    max-width: 600px;
    border: 1px solid #000;
    padding: 60px;
}
header{
    text-align: center;
    letter-spacing: .2em;
}
#blue{
    color:#006EB6;
}

main{
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
    font-size: 20px;
}

img{
    height: 150px;
    display: block;
    margin: 0 auto;
}