
.content{
    max-width: 600px;
    border: 1px solid #000;
    margin-left: 60px;
    margin-right: 60px;
    padding: 60px;
}
header{
    text-align: center;
    letter-spacing: .2rem;
    font-size: larger;
}
#blue{
    color:#006EB6;
    font-size: 15px;
}

main{
    margin: 0 auto;
    text-align: left;
    line-height: 1.5;
    font-size: 20px;
   
}

img{
    height: 150px;
    display: block;
    margin: 0 auto;
}