
.content{
    max-width: 600px;
    font-size: 20px;
}
header{
    text-align: center;
    letter-spacing: .2em;
}
#blue{
    color:#006EB6
}

main{
    text-align: left;
    line-height: 1.5;
}

img{
    height: 150px;
    align-self: center;
}